.background-blue {
    background: linear-gradient(180deg, #2c6bc6 0%, #1855b7 100%);
    box-shadow: 0px 26px 10px -5px rgba(27, 89, 185, 0.15);
}

.background-green {
    background: linear-gradient(180deg, #29cc5b 0%, #1baf43 100%);
    box-shadow: 0px 26px 10px -5px rgba(27, 176, 67, 0.15);
}

.background-purple {
    background: linear-gradient(180deg, #7c509a 0%, #67159e 100%);
    box-shadow: 0px 26px 10px -5px rgba(123, 78, 154, 0.15);
}
