.banner {
    padding: 7% 0 15%;
    &__title {
        max-width: 560px;
        font-weight: 800;
        font-size: 40px;
        line-height: 48px;
        text-transform: uppercase;
        margin-bottom: 30px;
        span {
            position: relative;
            color: #1b5dbd;
            border-bottom: 6px dashed #1b5dbd;
            &:hover {
                cursor: pointer;
                .banner__tooltip {
                    opacity: 1;
                    visibility: visible;
                    max-width: 460px;
                    transition: opacity 0.3s linear 0.2s, visibility 0.3s linear 0.2s;
                }
            }
        }
    }

    &__tooltip {
        position: absolute;
        top: -75%;
        right: -320%;
        opacity: 0;
        visibility: hidden;
        max-width: 0;
        font-size: 18px;
        line-height: 140%;
        font-weight: 400;
        text-align: center;
        background: linear-gradient(0deg, #e2eef3, #e2eef3), linear-gradient(180deg, #2c6bc6 0%, #1855b7 100%);
        border: 1px solid #1b5dbd;
        border-radius: 5px;
        color: $main;
        padding: 10px;
        text-transform: initial;

        svg {
            position: absolute;
            top: 50px;
            left: -24px;
            width: 40px;
            height: 40px;
        }
    }

    &__subtitle {
        font-weight: 600;
        font-size: 24px;
        line-height: 34px;
        max-width: 400px;
    }

    &__btns {
        margin-top: 50px;
        display: flex;
        align-items: center;
    }

    .btn {
        padding: 20px;
        width: 250px;
        margin-right: 20px;
        color: #fff;
        &:last-child {
            margin-right: 0;
        }
    }

    @media (max-width: 1020px) {
        padding: 5% 0 15%;

        &__title {
            font-size: 32px;
            line-height: 45px;
            max-width: 400px;
            margin-bottom: 20px;
        }

        &__subtitle {
            font-size: 20px;
            line-height: 27px;
            max-width: 320px;
        }

        &__btns {
            margin-top: 35px;
        }

        .btn {
            font-size: 12px;
            line-height: 16px;
            width: 210px;
        }
    }

    @media (max-width: 768px) {
        z-index: 10;
        position: relative;
        padding: 15% 0 15%;


        &__title {
            span {
                &:hover {
                    .banner__tooltip {
                        max-width: 250px;
                        top:-100%;
                        right: -220%;
                        font-size: 15px;
                        line-height: 120%;
                    }
                }
            }
        }

    }

    @media (max-width: 560px) {
        
        padding: 80% 0 15%;
        &__title {
            font-size: 38px;
            line-height: 45px;
            max-width: 100%;
            span {
                color: $main;
                border-bottom: 0;

                &:hover {
                    .banner__tooltip {
                        display: none;
                    }
                }
            }
        }

        &__subtitle {
            font-size: 25px;
            max-width: 100%;
        }

        &__btns {
            flex-direction: column;
            .btn {
                margin-right: 0;
                margin-bottom: 10px;
                font-size: 20px;
                line-height: 16px;
                width: 100%;
                &:last-child {
                    margin-bottom: 0;
                }
            }
        }
    }
    @media (max-width: 559px) {
        &__title {
            font-size: calc(24px + (14 + 14 * 0.7) * ((100vw - 360px) / 560));
            line-height: calc(33px + (12 + 12 * 0.7) * ((100vw - 360px) / 560));
        }

        &__subtitle {
            font-size: calc(17px + (8 + 8 * 0.7) * ((100vw - 360px) / 560));
            line-height: calc(23px + (4 + 4 * 0.7) * ((100vw - 360px) / 560));
        }

        &__btns {
            .btn {
                font-size: calc(12px + (8 + 8 * 0.7) * ((100vw - 360px) / 560));
            }
        }
    }

    @media(max-width: 430px) {
        padding: 68% 0 15%;
    }
}
