.dreams {
    &__container {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        /*  gap: 40px; */
        gap: 3%;
    }

    &__block {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        background-color: #fff;
        width: 100%;
        border: 1px solid #c2d7e0;
        border-radius: 5px;
        &:hover {
            background-color: #28cb5a;
            .dreams__img::after {
                background: linear-gradient(180deg, #28cb5a 0%, rgba(40, 203, 90, 0) 100%);
            }
            color: white;
        }
    }

    &__info {
        padding: 43px 30px 10px;
        flex-shrink: 0;
    }

    &__title {
        font-size: 22px;
        line-height: 30px;
        font-weight: 500;
        padding-bottom: 20px;
    }

    &__img {
        position: relative;
        img {
            border-radius: 0px 0px 4px 4px;
            width: 100%;
            height: 100%;
            /* max-height: 240px; */
        }
        &::after {
            position: absolute;
            content: "";
            top: 0;
            right: 0;
            left: 0;
            bottom: 0;
            width: 100%;
            height: 100%;
            background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
            z-index: 22;
        }
    }

    ul {
        list-style-type: disc;
        padding-left: 20px;
    }

    li {
        font-size: 14px;
        line-height: 24px;
    }

    &__text {
        margin-top: 20px;
        font-size: 20px;
        line-height: 27px;
        text-align: center;
    }

    @media (max-width: 1024px) {
        &__container {
            gap: 20px;
        }

        &__info {
            padding: 36px 25px 8px;
            flex-shrink: 0;
        }

        &__title {
            font-size: 18px;
            line-height: 25px;
        }
        li {
            font-size: 13px;
            line-height: 22px;
        }
    }

    @media (max-width: 900px) {
        &__container {
            grid-template-columns: 1fr;
        }
        &__block {
            flex-direction: row;
            &:hover {
                .dreams__img::after {
                    background: linear-gradient(90deg, #28cb5a 0%, rgba(40, 203, 90, 0) 100%);
                }
            }
            min-height: 295px;
        }

        &__title {
            padding-bottom: 16px;
        }
        &__info {
            min-width: 250px;
            max-width: 50%;
            padding: 43px 30px 30px;
        }

        &__img {
            &::after {
                background: linear-gradient(90deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
            }
        }

        &__text {
            font-size: 16px;
            line-height: 22px;
            max-width: 80%;
            margin: 20px auto 0;
        }
    }

    @media (max-width: 650px) {
        &__container {
            grid-template-columns: repeat(2, 1fr);
        }

        &__block {
            min-height: initial;
            flex-direction: column;
            &:hover {
                .dreams__img::after {
                    background: linear-gradient(180deg, #28cb5a 0%, rgba(40, 203, 90, 0) 100%);
                }
            }
        }

        &__info {
            /* max-width: 35%;
            min-width: 325px; */
        }

        &__img {
            &::after {
                background: linear-gradient(180deg, #ffffff 0%, rgba(255, 255, 255, 0) 100%);
            }
        }
    }

    @media (max-width: 560px) {
        &__container {
            grid-template-columns: 1fr;
        }

        &__info {
            max-width: initial;
        }

        &__block {
        }

        &__img {
            height: 260px;
            img {
                object-fit: cover;
                object-position: top;
            }
        }
    }

    @media(max-width: 414px) {
        &__img {
            height: 213px;
        }
    }
}
