.filter {
    margin-bottom: 20px;
    &__select {
        display: none;
    }

    &__container {
        background: #ffffff;
        border: 1px solid #c2d7e0;
        border-radius: 5px;
        padding: 30px;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        gap: 20px 55px;
    }

    &__block {
        &.sort {
            grid-column: 1/4;
            justify-content: initial;
        }
    }

    &__name {
        font-weight: 700;
        font-size: 18px;
        line-height: 25px;
        padding: 0 0 10px;
        border-bottom: 1px solid #c2d7e0;
        width: 100%;
        text-transform: uppercase;
    }

    &__variants {
        padding: 20px 0 0;
        display: grid;
        grid-template-columns: repeat(2, max-content);
        gap: 8px 40px;
        /* justify-content: space-between; */
    }

    &__label {
        &:hover {
            cursor: pointer;
        }

        &.active {
            span {
                &:not(.filter__block.sort .filter__label span) {
                    &::before {
                        background-image: url(../img/checkbox.svg);
                    }
                }
            }
        }

        span {
            font-size: 16px;
            line-height: 22px;

            &:not(.filter__block.sort .filter__label span):hover {
                &::before {
                    border: 1px solid #28cb5a;
                }
            }

            &::before {
                content: "";
                display: inline-block;
                width: 16px;
                height: 16px;
                margin-right: 10px;
                transform: translateY(3px);
                background-repeat: no-repeat;
                background-position: center center;
            }
            &:not(.filter__block.sort .filter__label span) {
                &::before {
                    border: 1px solid #c2d7e0;
                    background-size: 100%;
                }
            }
        }

        &.price-desc {
            &.active {
                span {
                    &::before {
                        background-image: url(../img/desc-active.svg);
                    }
                }
            }
            span {
                &::before {
                    width: 24px;
                    height: 24px;
                    background-image: url(../img/desc.svg);
                    background-size: 100%;
                    transform: translateY(7px);
                }
            }
        }

        &.price-asc {
            &.active {
                span {
                    &::before {
                        background-image: url(../img/asc-active.svg);
                    }
                }
            }
            span {
                &::before {
                    width: 24px;
                    height: 24px;
                    background-image: url(../img/asc.svg);
                    background-size: 100%;
                    transform: translateY(7px);
                }
            }
        }
    }

    input {
        display: none;
    }

    @media (max-width: 1100px) {
        &__container {
            gap: 20px 40px;
        }

        &__variants {
            gap: 8px 20px;
        }
    }

    @media (max-width: 1019px) {
        &__container {
            gap: 20px 45px;
            grid-template-columns: repeat(2, 1fr);
        }

        &__block {
            &.sort {
                grid-column: initial;
            }
        }

        &__variants {
            gap: 8px 45px;
        }
    }

    @media (max-width: 768px) {
        &__variants {
            gap: 8px 20px;
        }
        &__container {
            gap: 20px;
        }

        &__block {
            &.sort {
                .filter__label {
                    margin-top: -5px;
                }
            }
        }
    }

    @media (max-width: 767px) {
        &__select {
            z-index: 1;
            display: block;
            padding: 20px;
            font-size: 16px;
            font-weight: 700;
            line-height: 22px;
            background: #ffffff;
            border: 1px solid #c2d7e0;
            border-radius: 5px;
            text-transform: uppercase;
            position: relative;
            &.open {
                &::after {
                    top: 22px;
                    transform: rotate(-180deg);
                }
            }
            &::after {
                position: absolute;
                content: "";
                width: 13px;
                height: 13px;
                background-image: url(../img/arrow.svg);
                background-size: 100%;
                background-repeat: no-repeat;
                top: 25px;
                right: 25px;
                transform: rotate(0);
                transition: transform 0.3s linear;
            }
        }
        &__container {
            display: none;
            &.open {
                display: grid;
            }
            z-index: -1;
            background: #e2eef3;
            grid-template-columns: 1fr;
            padding: 20px;
            gap: 20px;
            transform: translateY(-10px);
        }

        &__block {
            &:first-of-type {
                padding-top: 10px;
            }
        }
    }

    @media (max-width: 320px) {
        &__variants {
            grid-template-columns: 1fr;
            gap: 8px 20px;
        }
    }
}
