.footer {
    background: #FFFFFF;
    &__top {
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        align-content: space-between;
        align-items: center;
        gap: 25px 0;
    }

    &__logo {
    }

    &__menu {
    }

    &__title {
    }

    &__info {
    }

    &__bottom {
    }

    &__copyright {
    }

    &__dev {
    }
}
.page {

    &__container {
    }
}
.logo {

    &__img {
    }

    &__title {
    }

    &__subtitle {
    }
}
.scroll-to {
}
.info {

    &__block {
    }

    &__text {
    }
}
.social {

    &__item {
    }
}
