<div class="banner">
    <div class="page__container">
        <h1 class="banner__title _anim-items _anim-no-hide">
            Строим дома для
            Севера со сроком
            эксплуатации <span>100 лет <div class="banner__tooltip">
                    По статистике, около 70% всего частного жилья в мире построено из SIP-панелей.
                    В Германии такие дома стоят уже более
                    100 лет, в Америке — около полувека.
                    При соблюдении технологии производства, дом прослужит не одному поколению!
                    <svg>
                        <use href="./img/icons/icons.svg#for-tooltip"></use>
                    </svg>
                </div></span>

        </h1>
        <p class="banner__subtitle _anim-items _anim-no-hide">
            Мы производим экологически безопасные, огнестойкие дома для комфортной жизни
        </p>

        <div class="banner__btns">
            <a href="#quiz" class="btn background-blue scroll-to _anim-items _anim-no-hide">РАССЧИТАТЬ СТОИМОСТЬ</a>
            <a href="#ready"  class="btn background-green scroll-to _anim-items _anim-no-hide">ПОСМОТРЕТЬ ПРОЕКТЫ</a>
        </div>
    </div>

</div>