<section id="ready" class="catalog catalog_ready section">
    <div class="page__container">
        <h2 class="section__title"><b>Наши выполненные проекты</b></h2>
        <ul class="catalog__list">
            <li class="catalog__item">
                <div class="swiper swiper-catalog">
                    <div class="swiper-wrapper">
                        <img src="./img/catalog/3.png" alt="#" class="swiper-slide catalog__photo">
                        <img src="./img/catalog/1.png" alt="#" class="swiper-slide catalog__photo">
                        <img src="./img/catalog/4.png" alt="#" class="swiper-slide catalog__photo">
                        <img src="./img/catalog/2.png" alt="#" class="swiper-slide catalog__photo">
                        <img src="./img/catalog/4.png" alt="#" class="swiper-slide catalog__photo">
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="catalog__description">
                    <h4 class="catalog__name">“ДОМ 47 МД 163”</h4>
                    <ul class="catalog__specifications params">
                        <li class="catalog__specification size">Габариты: <b>18,5x9</b></li>
                        <li class="catalog__specification rooms">Комнат: <b>5</b></li>
                        <li class="catalog__specification square">Площадь: <b>163,4 м2</b></li>
                        <li class="catalog__specification deadlines">Сроки: <b>от 3 мес.</b></li>
                    </ul>
                    <div class="catalog__price base">
                        <b>Стоимость от</b>
                        <span class="green">3 862 200 ₽</span>
                    </div>
                    <button data-pointer="lightbox" class="catalog__view">Посмотреть проект &rarr;</button>
                </div>
                <div class="catalog__detail">
                    Новый отличный проект в стиле "FUTURE"<br>
                    В доме располагаются 1 спальня,<br>
                    кухня-гостиная, санузел, баня.<br>
                    Гараж в доме, размеры 3,8х7,9<br>
                    В доме располагаются 1 спальня,<br>
                    кухня-гостиная, санузел, баня.<br>
                    Гараж в доме, размеры 3,8х7,9</div>
                <ul class="catalog__specifications structure">
                    <li class="catalog__specification terrace">Терраса</li>
                    <li class="catalog__specification garage">Гараж</li>
                </ul>
                <div class="catalog__price mortgage">
                    <b>В ипотеку от</b>
                    <span class="green">26 750 ₽/мес.</span>
                </div>
            </li>
            <li class="catalog__item">
                <div class="swiper swiper-catalog">
                    <div class="swiper-wrapper">
                        <img src="./img/catalog/1.png" alt="#" class="swiper-slide catalog__photo">
                        <img src="./img/catalog/4.png" alt="#" class="swiper-slide catalog__photo">
                        <img src="./img/catalog/3.png" alt="#" class="swiper-slide catalog__photo">
                        <img src="./img/catalog/2.png" alt="#" class="swiper-slide catalog__photo">
                        <img src="./img/catalog/4.png" alt="#" class="swiper-slide catalog__photo">
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="catalog__description">
                    <h4 class="catalog__name">“ДОМ 47 МД 163”</h4>
                    <ul class="catalog__specifications params">
                        <li class="catalog__specification size">Габариты: <b>18,5x9</b></li>
                        <li class="catalog__specification rooms">Комнат: <b>5</b></li>
                        <li class="catalog__specification square">Площадь: <b>163,4 м2</b></li>
                        <li class="catalog__specification deadlines">Сроки: <b>от 3 мес.</b></li>
                    </ul>
                    <div class="catalog__price base">
                        <b>Стоимость от</b>
                        <span class="green">3 862 168 ₽</span>
                    </div>
                    <button data-pointer="lightbox" class="catalog__view">Посмотреть проект &rarr;</button>
                </div>
                <div class="catalog__detail">
                    Новый отличный проект в стиле "FUTURE"<br>
                    В доме располагаются 1 спальня,<br>
                    кухня-гостиная, санузел, баня.<br>
                    Гараж в доме, размеры 3,8х7,9<br>
                    В доме располагаются 1 спальня,<br>
                    кухня-гостиная, санузел, баня.<br>
                    Гараж в доме, размеры 3,8х7,9</div>
                <ul class="catalog__specifications structure">
                    <li class="catalog__specification terrace">Терраса</li>
                    <li class="catalog__specification garage">Гараж</li>
                </ul>
                <div class="catalog__price mortgage">
                    <b>В ипотеку от</b>
                    <span class="green">26 750 ₽/мес.</span>
                </div>
            </li>
            <li class="catalog__item">
                <div class="swiper swiper-catalog">
                    <div class="swiper-wrapper">
                        <img src="./img/catalog/2.png" alt="#" class="swiper-slide catalog__photo">
                        <img src="./img/catalog/1.png" alt="#" class="swiper-slide catalog__photo">
                        <img src="./img/catalog/3.png" alt="#" class="swiper-slide catalog__photo">
                        <img src="./img/catalog/4.png" alt="#" class="swiper-slide catalog__photo">
                        <img src="./img/catalog/4.png" alt="#" class="swiper-slide catalog__photo">
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="catalog__description">
                    <h4 class="catalog__name">“ДОМ 47 МД 163”</h4>
                    <ul class="catalog__specifications params">
                        <li class="catalog__specification size">Габариты: <b>18,5x9</b></li>
                        <li class="catalog__specification rooms">Комнат: <b>5</b></li>
                        <li class="catalog__specification square">Площадь: <b>163,4 м2</b></li>
                        <li class="catalog__specification deadlines">Сроки: <b>от 3 мес.</b></li>
                    </ul>
                    <div class="catalog__price base">
                        <b>Стоимость от</b>
                        <span class="green">3 862 168 ₽</span>
                    </div>
                    <button data-pointer="lightbox" class="catalog__view">Посмотреть проект &rarr;</button>
                </div>
                <div class="catalog__detail">
                    Новый отличный проект в стиле "FUTURE"<br>
                    В доме располагаются 1 спальня,<br>
                    кухня-гостиная, санузел, баня.<br>
                    Гараж в доме, размеры 3,8х7,9<br>
                    В доме располагаются 1 спальня,<br>
                    кухня-гостиная, санузел, баня.<br>
                    Гараж в доме, размеры 3,8х7,9</div>
                <ul class="catalog__specifications structure">
                    <li class="catalog__specification terrace">Терраса</li>
                    <li class="catalog__specification garage">Гараж</li>
                </ul>
                <div class="catalog__price mortgage">
                    <b>В ипотеку от</b>
                    <span class="green">26 750 ₽/мес.</span>
                </div>
            </li>
            <li class="catalog__item">
                <div class="swiper swiper-catalog">
                    <div class="swiper-wrapper">
                        <img src="./img/catalog/4.png" alt="#" class="swiper-slide catalog__photo">
                        <img src="./img/catalog/3.png" alt="#" class="swiper-slide catalog__photo">
                        <img src="./img/catalog/2.png" alt="#" class="swiper-slide catalog__photo">
                        <img src="./img/catalog/1.png" alt="#" class="swiper-slide catalog__photo">
                        <img src="./img/catalog/4.png" alt="#" class="swiper-slide catalog__photo">
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="catalog__description">
                    <h4 class="catalog__name">“ДОМ 47 МД 163”</h4>
                    <ul class="catalog__specifications params">
                        <li class="catalog__specification size">Габариты: <b>18,5x9</b></li>
                        <li class="catalog__specification rooms">Комнат: <b>5</b></li>
                        <li class="catalog__specification square">Площадь: <b>163,4 м2</b></li>
                        <li class="catalog__specification deadlines">Сроки: <b>от 3 мес.</b></li>
                    </ul>
                    <div class="catalog__price base">
                        <b>Стоимость от</b>
                        <span class="green">3 862 168 ₽</span>
                    </div>
                    <button data-pointer="lightbox" class="catalog__view">Посмотреть проект &rarr;</button>
                </div>
                <div class="catalog__detail">
                    Новый отличный проект в стиле "FUTURE"<br>
                    В доме располагаются 1 спальня,<br>
                    кухня-гостиная, санузел, баня.<br>
                    Гараж в доме, размеры 3,8х7,9<br>
                    В доме располагаются 1 спальня,<br>
                    кухня-гостиная, санузел, баня.<br>
                    Гараж в доме, размеры 3,8х7,9</div>
                <ul class="catalog__specifications structure">
                    <li class="catalog__specification terrace">Терраса</li>
                    <li class="catalog__specification garage">Гараж</li>
                </ul>
                <div class="catalog__price mortgage">
                    <b>В ипотеку от</b>
                    <span class="green">26 750 ₽/мес.</span>
                </div>
            </li>
            <li class="catalog__item">
                <div class="swiper swiper-catalog">
                    <div class="swiper-wrapper">
                        <img src="./img/catalog/1.png" alt="#" class="swiper-slide catalog__photo">
                        <img src="./img/catalog/2.png" alt="#" class="swiper-slide catalog__photo">
                        <img src="./img/catalog/3.png" alt="#" class="swiper-slide catalog__photo">
                        <img src="./img/catalog/4.png" alt="#" class="swiper-slide catalog__photo">
                        <img src="./img/catalog/4.png" alt="#" class="swiper-slide catalog__photo">
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="catalog__description">
                    <h4 class="catalog__name">“ДОМ 47 МД 163”</h4>
                    <ul class="catalog__specifications params">
                        <li class="catalog__specification size">Габариты: <b>18,5x9</b></li>
                        <li class="catalog__specification rooms">Комнат: <b>5</b></li>
                        <li class="catalog__specification square">Площадь: <b>163,4 м2</b></li>
                        <li class="catalog__specification deadlines">Сроки: <b>от 3 мес.</b></li>
                    </ul>
                    <div class="catalog__price base">
                        <b>Стоимость от</b>
                        <span class="green">3 862 168 ₽</span>
                    </div>
                    <button data-pointer="lightbox" class="catalog__view">Посмотреть проект &rarr;</button>
                </div>
                <div class="catalog__detail">
                    Новый отличный проект в стиле "FUTURE"<br>
                    В доме располагаются 1 спальня,<br>
                    кухня-гостиная, санузел, баня.<br>
                    Гараж в доме, размеры 3,8х7,9<br>
                    В доме располагаются 1 спальня,<br>
                    кухня-гостиная, санузел, баня.<br>
                    Гараж в доме, размеры 3,8х7,9</div>
                <ul class="catalog__specifications structure">
                    <li class="catalog__specification terrace">Терраса</li>
                    <li class="catalog__specification garage">Гараж</li>
                </ul>
                <div class="catalog__price mortgage">
                    <b>В ипотеку от</b>
                    <span class="green">26 750 ₽/мес.</span>
                </div>
            </li>
            <li class="catalog__item">
                <div class="swiper swiper-catalog">
                    <div class="swiper-wrapper">
                        <img src="./img/catalog/4.png" alt="#" class="swiper-slide catalog__photo">
                        <img src="./img/catalog/3.png" alt="#" class="swiper-slide catalog__photo">
                        <img src="./img/catalog/2.png" alt="#" class="swiper-slide catalog__photo">
                        <img src="./img/catalog/4.png" alt="#" class="swiper-slide catalog__photo">
                        <img src="./img/catalog/4.png" alt="#" class="swiper-slide catalog__photo">
                    </div>
                    <div class="swiper-pagination"></div>
                </div>
                <div class="catalog__description">
                    <h4 class="catalog__name">“ДОМ 47 МД 163”</h4>
                    <ul class="catalog__specifications params">
                        <li class="catalog__specification size">Габариты: <b>18,5x9</b></li>
                        <li class="catalog__specification rooms">Комнат: <b>5</b></li>
                        <li class="catalog__specification square">Площадь: <b>163,4 м2</b></li>
                        <li class="catalog__specification deadlines">Сроки: <b>от 3 мес.</b></li>
                    </ul>
                    <div class="catalog__price base">
                        <b>Стоимость от</b>
                        <span class="green">3 862 168 ₽</span>
                    </div>
                    <button data-pointer="lightbox" class="catalog__view">Посмотреть проект &rarr;</button>
                </div>
                <div class="catalog__detail">
                    Новый отличный проект в стиле "FUTURE"<br>
                    В доме располагаются 1 спальня,<br>
                    кухня-гостиная, санузел, баня.<br>
                    Гараж в доме, размеры 3,8х7,9<br>
                    В доме располагаются 1 спальня,<br>
                    кухня-гостиная, санузел, баня.<br>
                    Гараж в доме, размеры 3,8х7,9</div>
                <ul class="catalog__specifications structure">
                    <li class="catalog__specification terrace">Терраса</li>
                    <li class="catalog__specification garage">Гараж</li>
                </ul>
                <div class="catalog__price mortgage">
                    <b>В ипотеку от</b>
                    <span class="green">26 750 ₽/мес.</span>
                </div>
            </li>
        </ul>
    </div>
</section>