<section class="catalog section">
    <div class="page__container">
        <h2 class="section__title"><b>Построим тёплый дом,</b> с учётом всех особенностей климата Сургут</h2>
        <p class="section__subtitle">Посмотрите 40 готовых решений для комфортной жизни или
            <a data-pointer=""><b>закажите индивидуальный проект</b></a>
        </p>
        @@include('_filter.html')
        <ul class="catalog__list">
            <li class="catalog__item">
                <img class="catalog__photo" src="" alt="">
                <h4 class="catalog__name">“ДОМ 47 МД 163”</h4>
                <ul class="catalog__specifications">
                    <li class="catalog__specification size">Габариты: <span>18,5x9</span></li>
                    <li class="catalog__specification rooms">Комнат: <span>5</span></li>
                    <li class="catalog__specification square">Площадь: <span>163,4 м2</span></li>
                    <li class="catalog__specification deadlines">Сроки: <span>от 3 мес.</span></li>
                </ul>
                <div class="catalog__price">
                    <span>Стоимость от</span>
                    <span class="green">3 862 168 ₽</span>
                </div>
                <button data-pointer="№" class="catalog__view">Посмотреть проект &rarr;</button>
            </li>
            <li class="catalog__item">
                <img class="catalog__photo" src="" alt="">
                <h4 class="catalog__name">“ДОМ 47 МД 163”</h4>
                <ul class="catalog__specifications">
                    <li class="catalog__specification size">Габариты: <span>18,5x9</span></li>
                    <li class="catalog__specification rooms">Комнат: <span>5</span></li>
                    <li class="catalog__specification square">Площадь: <span>163,4 м2</span></li>
                    <li class="catalog__specification deadlines">Сроки: <span>от 3 мес.</span></li>
                </ul>
                <div class="catalog__price">
                    <span>Стоимость от</span>
                    <span class="green">3 862 168 ₽</span>
                </div>
                <button data-pointer="№" class="catalog__view">Посмотреть проект &rarr;</button>
            </li>
            <li class="catalog__item">
                <img class="catalog__photo" src="" alt="">
                <h4 class="catalog__name">“ДОМ 47 МД 163”</h4>
                <ul class="catalog__specifications">
                    <li class="catalog__specification size">Габариты: <span>18,5x9</span></li>
                    <li class="catalog__specification rooms">Комнат: <span>5</span></li>
                    <li class="catalog__specification square">Площадь: <span>163,4 м2</span></li>
                    <li class="catalog__specification deadlines">Сроки: <span>от 3 мес.</span></li>
                </ul>
                <div class="catalog__price">
                    <span>Стоимость от</span>
                    <span class="green">3 862 168 ₽</span>
                </div>
                <button data-pointer="№" class="catalog__view">Посмотреть проект &rarr;</button>
            </li>
            <li class="catalog__item">
                <img class="catalog__photo" src="" alt="">
                <h4 class="catalog__name">“ДОМ 47 МД 163”</h4>
                <ul class="catalog__specifications">
                    <li class="catalog__specification size">Габариты: <span>18,5x9</span></li>
                    <li class="catalog__specification rooms">Комнат: <span>5</span></li>
                    <li class="catalog__specification square">Площадь: <span>163,4 м2</span></li>
                    <li class="catalog__specification deadlines">Сроки: <span>от 3 мес.</span></li>
                </ul>
                <div class="catalog__price">
                    <span>Стоимость от</span>
                    <span class="green">3 862 168 ₽</span>
                </div>
                <button data-pointer="№" class="catalog__view">Посмотреть проект &rarr;</button>
            </li>
            <li class="catalog__item">
                <img class="catalog__photo" src="" alt="">
                <h4 class="catalog__name">“ДОМ 47 МД 163”</h4>
                <ul class="catalog__specifications">
                    <li class="catalog__specification size">Габариты: <span>18,5x9</span></li>
                    <li class="catalog__specification rooms">Комнат: <span>5</span></li>
                    <li class="catalog__specification square">Площадь: <span>163,4 м2</span></li>
                    <li class="catalog__specification deadlines">Сроки: <span>от 3 мес.</span></li>
                </ul>
                <div class="catalog__price">
                    <span>Стоимость от</span>
                    <span class="green">3 862 168 ₽</span>
                </div>
                <button data-pointer="№" class="catalog__view">Посмотреть проект &rarr;</button>
            </li>
            <li class="catalog__item">
                <img class="catalog__photo" src="" alt="">
                <h4 class="catalog__name">“ДОМ 47 МД 163”</h4>
                <ul class="catalog__specifications">
                    <li class="catalog__specification size">Габариты: <span>18,5x9</span></li>
                    <li class="catalog__specification rooms">Комнат: <span>5</span></li>
                    <li class="catalog__specification square">Площадь: <span>163,4 м2</span></li>
                    <li class="catalog__specification deadlines">Сроки: <span>от 3 мес.</span></li>
                </ul>
                <div class="catalog__price">
                    <span>Стоимость от</span>
                    <span class="green">3 862 168 ₽</span>
                </div>
                <button data-pointer="№" class="catalog__view">Посмотреть проект &rarr;</button>
            </li>
            <li class="catalog__item">
                <img class="catalog__photo" src="" alt="">
                <h4 class="catalog__name">“ДОМ 47 МД 163”</h4>
                <ul class="catalog__specifications">
                    <li class="catalog__specification size">Габариты: <span>18,5x9</span></li>
                    <li class="catalog__specification rooms">Комнат: <span>5</span></li>
                    <li class="catalog__specification square">Площадь: <span>163,4 м2</span></li>
                    <li class="catalog__specification deadlines">Сроки: <span>от 3 мес.</span></li>
                </ul>
                <div class="catalog__price">
                    <span>Стоимость от</span>
                    <span class="green">3 862 168 ₽</span>
                </div>
                <button data-pointer="№" class="catalog__view">Посмотреть проект &rarr;</button>
            </li>
            <li class="catalog__item">
                <img class="catalog__photo" src="" alt="">
                <h4 class="catalog__name">“ДОМ 47 МД 163”</h4>
                <ul class="catalog__specifications">
                    <li class="catalog__specification size">Габариты: <span>18,5x9</span></li>
                    <li class="catalog__specification rooms">Комнат: <span>5</span></li>
                    <li class="catalog__specification square">Площадь: <span>163,4 м2</span></li>
                    <li class="catalog__specification deadlines">Сроки: <span>от 3 мес.</span></li>
                </ul>
                <div class="catalog__price">
                    <span>Стоимость от</span>
                    <span class="green">3 862 168 ₽</span>
                </div>
                <button data-pointer="№" class="catalog__view">Посмотреть проект &rarr;</button>
            </li>
        </ul>
        <a href="" class="btn btn_all">Показать еще <svg>
                <use href="./img/icons/icons.svg#all"></use>
            </svg></a>
    </div>
</section>