<section class="compare section">
    <div class="page__container">
        <h2 class="section__title"><b>Сравните нас с другими</b></h2>
        <p class="section__subtitle">У нас дешевле на <b>20%</b></p>
        <table>
            <tr>
                <th></th>
                <th>
                    <div>
                        <svg>
                            <use href="./img/icons/icons.svg#col2"></use>
                        </svg>
                        <p>Большинство<br> строительных компаний</p>
                    </div>
                </th>
                <th>
                    <div>
                        <img src="./img/logo.png" alt="#">
                        <p>НАША СТРОИТЕЛЬНАЯ<br> КОМПАНИЯ “МАГАЗИН ДОМОВ”</p>
                    </div>
                </th>
            </tr>
            <tr>
                <td>
                    <div>
                        <svg>
                            <use href="./img/icons/icons.svg#kachestvo"></use>
                        </svg>
                        <p>КАЧЕСТВО МАТЕРИАЛА</p>
                    </div>

                </td>
                <td>Обычно используют материал естественной влажности</td>
                <td>Использует доску ТОЛЬКО камерной сушки: 12-14%</td>
            </tr>
            <tr>
                <td>
                    <div>
                        <svg>
                            <use href="./img/icons/icons.svg#membrana"></use>
                        </svg>
                        <p>МЕМБРАНА
                            (ПАРОИЗОЛЯЦИЯ)</p>
                    </div>

                </td>
                <td>Обычно выполняется просто монтаж
                    без проклейки стыков</td>
                <td>В обязательном порядке выполняем проклейку стыков</td>
            </tr>
            <tr>
                <td>
                    <div>
                        <svg>
                            <use href="./img/icons/icons.svg#gipsokarton"></use>
                        </svg>
                        <p>ГИПСОКАРТОН</p>
                    </div>

                </td>
                <td>Используют обычный гипсокартон</td>
                <td>Во всём доме используется
                    влагостойкий гипсокартон</td>
            </tr>
            <tr>
                <td>
                    <div>
                        <svg>
                            <use href="./img/icons/icons.svg#vhodnaya-dver"></use>
                        </svg>
                        <p>ВХОДНАЯ ДВЕРЬ</p>
                    </div>

                </td>
                <td>Используют дешевые китайские двери</td>
                <td>Используем стальную, толстую,
                    теплую входную дверь</td>
            </tr>
            <tr>
                <td>
                    <div>
                        <svg>
                            <use href="./img/icons/icons.svg#okna"></use>
                        </svg>
                        <p>ОКНА</p>
                    </div>

                </td>
                <td>Используют дешевые окна что бы минимально вложится в расходы на материал</td>
                <td>Используем только качественные окна REHAU, Veka, Richmond. 2 камерный стеклопакет с повышенной шумо
                    и теплоизоляцией. *Устройство щелевого микропроветривания в подарок!</td>
            </tr>
            <tr>
                <td>
                    <div>
                        <svg>
                            <use href="./img/icons/icons.svg#prozrachnaya-smeta"></use>
                        </svg>
                        <p>ПРОЗРАЧНАЯ СМЕТА</p>
                    </div>

                </td>
                <td>Обозначают общую цену без возможности оценки расходов</td>
                <td>Расписываем подробную смету.
                    Заказчик в курсе куда и как тратятся деньги</td>
            </tr>
            <tr>
                <td>
                    <div>
                        <svg>
                            <use href="./img/icons/icons.svg#russkie-brigadi"></use>
                        </svg>
                        <p>РУССКИЕ БРИГАДЫ</p>
                    </div>

                </td>
                <td>Используют неквалифицированный персонал из стран ближнего зарубежья</td>
                <td>Работают только опытные, квалифицированные бригады
                    Сургутского района</td>
            </tr>
            <tr>
                <td>
                    <div>
                        <svg>
                            <use href="./img/icons/icons.svg#dostavka"></use>
                        </svg>
                        <p>ДОСТАВКА</p>
                    </div>

                </td>
                <td>Зачастую оплачивается отдельно</td>
                <td>Включена в стоимость всех проектов, которые есть в каталоге</td>
            </tr>
            <tr>
                <td>
                    <div>
                        <svg>
                            <use href="./img/icons/icons.svg#montazh"></use>
                        </svg>
                        <p>МОНТАЖ</p>
                    </div>

                </td>
                <td>При монтаже используют чёрные кованные саморезы</td>
                <td>При монтаже силового каркаса, используем ТОЛЬКО гвозди 100-120мм.</td>
            </tr>
        </table>
    </div>
</section>