<div id="contact" class="contact">
    <div class="contact__text">
        <h3 class="contact__title">Хотите работать с нами?</h3>
        <p class="contact__subtitle">Напишите или позвоните нам в мессенджерах
            или заполните квиз, и получите ответ за 1 минуту.</p>
    </div>
    <ul class="contact__links">
        <li class="contact__link">
            <a href="#" class="btn background-green"><svg><use href="./img/icons/icons.svg#whatsapp"></use></svg>WhatsApp</a>
        </li>
        <li class="contact__link">
            <a href="#" class="btn background-purple"><svg><use href="./img/icons/icons.svg#viber"></use></svg>Viber</a>
        </li>
        <li class="contact__link">
            <a href="#" data-pointer="#" class="btn background-blue scroll-to">Заполнить КВИЗ</a>
        </li>
    </ul>
    <img src="./img/contact.png" alt="#">
</div>