<section class="dreams section">
    <div class="page__container">
        <h2 class="section__title"><b>Представьте, как уже завтра</b> вы просыпаетесь в доме вашей мечты</h2>
        <div class="dreams__container">
            <div class="dreams__block">
                <div class="dreams__info">
                    <h3 class="dreams__title"><b>Отдыхаете семьёй</b>
                        и встречаете друзей</h3>
                    <ul>
                        <li>Жарите шашлык на барбекю</li>
                        <li>Гуляете босиком по газону</li>
                        <li>Читаете любимую книгу у камина</li>
                        <li>Играете в бильярд</li>
                    </ul>
                </div>
                <div class="dreams__img">
                    <img src="./img/dreams/1.png" alt="#">
                </div>

            </div>
            <div class="dreams__block">
                <div class="dreams__info">
                    <h3 class="dreams__title"><b>Восстанавливаете силы после работы</b>
                        и занимаетесь спортом
                        на свежем воздухе</h3>
                    <ul>
                        <li>Плавать в бассейне в любое время</li>
                        <li>Совершать пробежки на природе и встречать рассвет</li>
                        <li>Парится в бане после рабочей недели</li>
                    </ul>
                </div>
                <div class="dreams__img">
                    <img src="./img/dreams/2.png" alt="#">
                </div>

            </div>
            <div class="dreams__block">
                <div class="dreams__info">
                    <h3 class="dreams__title"><b>Подарите своим детям счастливое детство </b>
                        о котором мечтали сами</h3>
                    <ul>
                        <li>Выделите каждому ребенку отдельную комнату</li>
                        <li>Построите игровой комплекс на площадке</li>
                        <li>Сделаете игровую комнату</li>
                        <li>Обеспечьте безопасность детей</li>
                    </ul>
                </div>
                <div class="dreams__img">
                    <img src="./img/dreams/3.png" alt="#">
                </div>

            </div>
        </div>
        <p class="dreams__text">В будущем ДОМ - это то место, куда дети <span class="green">всегда смогут приехать</span> сами или с семьёй</p>
    </div>
</section>