<section class="faq section">
    <div class="page__container">
        <h2 class="section__title"><b>Вопрос-Ответ</b></h2>
        <p class="section__subtitle">Отвечаем на часто задаваемые вопросы</p>
        <div class="faq__container">
            <div class="faq__block">
                <p class="faq__question">Из чего складывается стоимость дома?<span></span></p>
                <p class="faq__answer">В нашем портфолио есть самые разные проекты: в стиле хайтек, с большим процентом
                    остекления, значительными консольными вылетами и другими элементами, присущими этой стилистике.
                    Есть классические коттеджи различной площади. Мы можем сделать качественный проект любого дома.
                    Даже если вы захотите спроектировать что-то очень оригинальное, мы справимся с задачей, главное,
                    чтобы желаемое совпадало с возможностями по строительству.
                    Обратите внимание, что при заключении договора на возведение коттеджа — проектирование будет
                    бесплатным.</p>
            </div>
            <div class="faq__block">
                <p class="faq__question">Можно ли купить у вас готовый дом?<span></span></p>
                <p class="faq__answer">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Nihil itaque veniam
                    voluptatum similique provident harum ullam perspiciatis expedita dicta, laborum quas at reiciendis
                    doloribus odio sunt ea, neque consequatur suscipit?
                    Nam officia ut consectetur rerum iste quos, eius tempore officiis quae reiciendis inventore delectus
                    quasi esse debitis, ex voluptatem nobis quis odio expedita voluptatibus! Impedit sit libero ipsam
                    corrupti tempore.
                    Minus, ullam reiciendis sequi praesentium odio porro laborum sed, repellat sint excepturi quibusdam
                    suscipit officiis atque natus voluptas dignissimos possimus quia fuga modi officia, dolore iure
                    earum! Consequuntur, quibusdam adipisci!
                    Quaerat excepturi rerum odit voluptatibus perferendis! Temporibus nulla accusantium illum officiis
                    voluptatibus libero quod. Ex, adipisci saepe. Impedit nostrum expedita aspernatur ut placeat
                    recusandae maiores neque. Beatae omnis minima modi.</p>
            </div>
            <div class="faq__block">
                <p class="faq__question">С чего начинается строительство дома?<span></span></p>
                <p class="faq__answer">В нашем портфолио есть самые разные проекты: в стиле хайтек, с большим процентом
                    остекления, значительными консольными вылетами и другими элементами, присущими этой стилистике.
                    Есть классические коттеджи различной площади. Мы можем сделать качественный проект любого дома.
                    Даже если вы захотите спроектировать что-то очень оригинальное, мы справимся с задачей, главное,
                    чтобы желаемое совпадало с возможностями по строительству.
                    Обратите внимание, что при заключении договора на возведение коттеджа — проектирование будет
                    бесплатным.</p>
            </div>
            <div class="faq__block">
                <p class="faq__question">В каких регионах вы работаете?<span></span></p>
                <p class="faq__answer">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Suscipit voluptatum
                    tenetur, corporis voluptatem expedita unde, officiis ratione fugit non nihil praesentium eligendi
                    necessitatibus nulla! Deleniti veritatis quia omnis culpa suscipit.
                    Commodi unde, nostrum eveniet, a voluptate temporibus quaerat repellendus similique autem aperiam
                    harum. Possimus delectus, non commodi, voluptate rerum odit dolore sequi iure nobis quo, debitis
                    quibusdam voluptates hic velit?</p>
            </div>
            <div class="faq__block">
                <p class="faq__question">Актуальны ли цены на сайте?<span></span></p>
                <p class="faq__answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Ut eos sint eveniet,
                    quod odit culpa nobis eaque ex architecto repudiandae deleniti soluta dignissimos perferendis rerum
                    sequi nisi quisquam, repellat animi.
                    Impedit ducimus amet vel, similique praesentium error? A ipsam expedita modi quia cupiditate ad
                    sapiente vel excepturi consequatur hic, amet architecto beatae iste nostrum dolor ut aliquid nemo
                    quae et!
                    Vitae ab a molestiae? Nesciunt ad sequi sed tempora quae totam, nam laboriosam quaerat maxime
                    deleniti a natus at ea? Eligendi voluptate inventore at aut sunt quasi nihil repudiandae sapiente.
                </p>
            </div>
            <div class="faq__block">
                <p class="faq__question">Входит ли фундамент в строимость дома на вашем сайте?<span></span></p>
                <p class="faq__answer">Lorem, ipsum dolor sit amet consectetur adipisicing elit. Quaerat ad expedita,
                    corporis sequi cumque facere ducimus quidem officia iste natus amet magnam unde pariatur quisquam
                    quos sed dignissimos. Enim, accusamus!
                    Alias cupiditate quibusdam reiciendis ut quod earum unde quasi consequatur ad fugit deleniti, autem
                    dolor illo? Deserunt nam accusamus laborum blanditiis nobis, illo eos est molestiae perferendis
                    facilis! Assumenda, inventore.
                    Quibusdam corrupti voluptatem et nisi id quas at distinctio nemo, omnis temporibus voluptas sed
                    velit dolore? Tempore alias ipsam cupiditate totam, deserunt eos harum aut quod ratione maxime
                    consequatur suscipit?
                    Tempora in et consequuntur sed, doloremque repellat nesciunt suscipit! Vel nihil iste animi autem
                    explicabo tenetur vitae iure consequuntur dolore, asperiores officia omnis qui saepe sed quia,
                    molestias obcaecati perferendis.
                    Laborum vitae modi officia quos harum iure earum, dolor veniam obcaecati. Omnis quas possimus
                    veritatis illum beatae praesentium, impedit vitae earum fugiat sunt, saepe deserunt magni! Hic
                    excepturi neque doloremque.</p>
            </div>
            <div class="faq__block">
                <p class="faq__question">Какие гарантии вы даёте?<span></span></p>
                <p class="faq__answer">Lorem ipsum dolor sit amet consectetur, adipisicing elit. Itaque ipsam officiis,
                    reiciendis dolorum natus impedit eius est laboriosam, doloribus, optio vero dolore tempore ab libero
                    hic inventore nam placeat consectetur.
                    Animi exercitationem voluptas alias quaerat molestias voluptatum optio? Nobis nisi labore quos
                    accusantium, delectus consectetur! Atque ab, blanditiis facere magnam accusantium quas nemo
                    quibusdam nisi deserunt unde, facilis recusandae soluta.
                    Eaque delectus incidunt atque debitis. Ratione inventore quasi cupiditate odio quam molestias, esse
                    sit cumque facere velit vitae fugiat iusto recusandae eveniet ipsam mollitia culpa. Deserunt,
                    reiciendis. Recusandae, blanditiis ea.</p>
            </div>
            <div class="faq__block">
                <p class="faq__question">Какие фундаменты вы используете?<span></span></p>
                <p class="faq__answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Omnis eius dicta vitae,
                    cupiditate deserunt possimus totam modi iusto. Harum eaque quibusdam tempora debitis dolores neque
                    perspiciatis recusandae provident obcaecati ducimus?
                    Quos consectetur debitis unde repudiandae sapiente, fugit recusandae excepturi cumque, rerum
                    explicabo perferendis in, natus officiis dolore est sed magni! Beatae recusandae nihil eum assumenda
                    mollitia sunt facilis impedit maiores.</p>
            </div>
            <div class="faq__block">
                <p class="faq__question">Какие этапы оплаты?<span></span></p>
                <p class="faq__answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Officia nulla
                    dignissimos itaque eveniet vitae, repellat quo adipisci cum dolorum ipsa tempora tempore facere id
                    incidunt possimus est aliquid rem dolores?
                    Magni dicta dolorum est quibusdam necessitatibus expedita, tenetur eum nemo totam delectus iste!
                    Repudiandae, distinctio harum. Rerum officia beatae porro atque molestias quasi esse sint!
                    Repudiandae delectus obcaecati mollitia ipsum!</p>
            </div>
            <div class="faq__block">
                <p class="faq__question">Какие дома вы проектируете?<span></span></p>
                <p class="faq__answer">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Fugit quo, quos
                    voluptatum nemo libero tempore. Necessitatibus modi minima atque esse dolorem expedita numquam
                    eligendi, reprehenderit eius quas accusantium ipsum earum?
                    Et accusamus officiis rem eum ipsam ducimus facilis. Vel labore, dolore modi nam maxime sed ipsam
                    molestiae eaque neque dicta odio fugit id accusantium reprehenderit? Commodi voluptate atque labore
                    inventore?
                    Dolores minima error aperiam molestiae expedita distinctio quos tenetur voluptatibus officiis
                    eveniet aliquam, atque cumque quas maxime labore eaque deserunt excepturi, sequi, obcaecati
                    asperiores quae voluptates! Officia recusandae illo saepe!</p>
            </div>
            <div class="faq__block">
                <p class="faq__question">В какое время года вы строите?<span></span></p>
                <p class="faq__answer">Lorem ipsum, dolor sit amet consectetur adipisicing elit. Laborum delectus
                    suscipit alias aspernatur earum nostrum, voluptatem quod nihil iste laudantium accusamus quaerat
                    autem? Sapiente, ipsa? Ut libero expedita harum illum!
                    Nisi, distinctio consequuntur? Cum quidem rerum nesciunt! Rerum illo, id est quisquam dicta
                    suscipit, eligendi earum at asperiores odit, delectus commodi architecto quo sit necessitatibus
                    excepturi laboriosam quod provident magni.
                    Dolorum quos officiis hic quidem, nemo libero quasi recusandae itaque voluptatum ipsa quo earum,
                    molestiae dicta cupiditate consequatur impedit error illum! Sunt accusantium neque alias molestiae
                    similique a dolorum quis.
                    Minus repellendus ullam sed exercitationem quisquam dolorem pariatur. Ipsam dolore ex eius ipsa
                    libero ducimus eligendi iure quis minima nobis, velit optio ullam numquam cum soluta animi vel
                    repellat perferendis!</p>
            </div>
            <div class="faq__block">
                <p class="faq__question">Какие дома проектируете?<span></span></p>
                <p class="faq__answer">Lorem ipsum dolor sit amet consectetur adipisicing elit. Deserunt debitis nihil
                    officia nesciunt magnam ex sed rerum omnis obcaecati eligendi, quo impedit soluta nisi esse
                    doloribus a dolorem consectetur repellat.
                    Nulla non assumenda unde enim reprehenderit repellat eveniet quaerat, totam, iusto debitis excepturi
                    qui a odit ab minima voluptatem aliquam quod soluta voluptatum doloribus similique! Vero quod rerum
                    vel id!
                    Veniam, voluptatem est? Quas, sit. Consequatur iure corporis a natus iste quae veritatis aperiam rem
                    exercitationem fugit? Obcaecati enim amet, placeat maiores suscipit ullam ad fugit aspernatur,
                    repellendus itaque earum?</p>
            </div>
        </div>
    </div>
</section>