<header class="header">
    <div class="page__container">
        <div class="header__container">
            <a href="/" class="logo header__logo">
                <img src="./img/logo.png" alt="Дома86" class="logo__img">
                <p class="logo__title">Магазин Домов</p>
                <p class="logo__subtitle">Строим уютные дома для комфортной жизни</p>
            </a>
            <div class="info header__info">
                <div class="info__block">
                    <svg>
                        <use href="./img/icons/icons.svg#time"></use>
                    </svg>
                    <div class="info__text">
                        <b>График работы:</b>
                        <p>Будние дни - 09:00 - 18:00</p>
                        <p>Суббота - 09:00 - 16:00</p>
                    </div>
                </div>
                <a href="tel:+73462490505" class="info__block">
                    <svg>
                        <use href="./img/icons/icons.svg#phone"></use>
                    </svg>
                    <div class="info__text">
                        <b>Позвоните нам:</b>
                        <p>+7(3462)49-05-05</p>
                    </div>
                </a>
                <div class="info__block">
                    <svg>
                        <use href="./img/icons/icons.svg#chat"></use>
                    </svg>
                    <div class="info__text">
                        <b>Мы в мессенджерах:</b>
                        <p>+7(982)419-05-05</p>
                    </div>
                </div>
            </div>
            <div class="social">
                <a href="#" id="whatsapp" class="social__item">
                    <svg>
                        <use href="./img/icons/icons.svg#whatsapp"></use>
                    </svg>
                </a>
                <a href="#" id="viber" class="social__item">
                    <svg>
                        <use href="./img/icons/icons.svg#viber"></use>
                    </svg>
                </a>
            </div>
            <div class="header__mobile-menu">
                <div class="burger">
                    <span></span><span></span><span></span>
                </div>
            </div>
        </div>
    </div>
    <div class="hr"></div>
    <div class="page__container">
        <nav class="header__menu">
            <ul>
                <li><a href="#" class="scroll-to">Каталог проектов</a></li>
                <li><a href="#" class="scroll-to">Квиз</a></li>
                <li><a href="#" class="scroll-to">Сравнение с конкурентами</a></li>
                <li><a href="#" class="scroll-to">Отзывы</a></li>
                <li><a href="#" class="scroll-to">Вопрос-ответ</a></li>
                <li><a href="#" class="scroll-to">Мы построили</a></li>
                <li><a href="#" class="scroll-to">О нас</a></li>
                <li><a href="#" class="scroll-to">Контакты</a></li>
            </ul>
        </nav>
    </div>

</header>