<section class="trust section">
    <div class="page__container">
        <h2 class="section__title">Чтобы быть уверенным в качественном доме - <b class="green">вам нужен надежный подрядчик</b></h2>
        <ul class="trust__cards">
            <li class="trust__card">
                <svg>
                    <use href="./img/icons/icons.svg#trust-1"></use>
                </svg>
                <h4 class="trust__title">Строим дом всего за 3 месяца</h4>
                <p class="trust__subtitle">Вы получаете дом, который не надо доделывать, подкрашивать</p>
            </li>
            <li class="trust__card">
                <svg>
                    <use href="./img/icons/icons.svg#trust-2"></use>
                </svg>
                <h4 class="trust__title">5 этапов оплаты</h4>
                <p class="trust__subtitle">Вы платите только после окончания и проверки каждого этапа работы</p>
            </li>
            <li class="trust__card">
                <svg>
                    <use href="./img/icons/icons.svg#trust-3"></use>
                </svg>
                <h4 class="trust__title">Проектировщики 
                    в штате</h4>
                <p class="trust__subtitle">Создадим с нуля или доработаем любой понравившийся проект</p>
            </li>
            <li class="trust__card">
                <svg>
                    <use href="./img/icons/icons.svg#trust-4"></use>
                </svg>
                <h4 class="trust__title">Лучшие цены на материалы</h4>
                <p class="trust__subtitle">Работаем напрямую с поставщиками стройматериалов</p>
            </li>
            <li class="trust__card">
                <svg>
                    <use href="./img/icons/icons.svg#trust-5"></use>
                </svg>
                <h4 class="trust__title">Сроки строительства и оплаты прописаны</h4>
                <p class="trust__subtitle">На этапе подписания договора составляется план-график работ и их финансирования</p>
            </li>
            <li class="trust__card">
                <svg>
                    <use href="./img/icons/icons.svg#trust-6"></use>
                </svg>
                <h4 class="trust__title">Выполняем весь комплекс работ</h4>
                <p class="trust__subtitle">От юридического согласования постройки и геологии
                    до ландшафтного и интерьерного дизайна</p>
            </li>
            <li class="trust__card">
                <svg>
                    <use href="./img/icons/icons.svg#trust-7"></use>
                </svg>
                <h4 class="trust__title">Команда, которую подбирали 6 лет</h4>
                <p class="trust__subtitle">Штат своих специалистов, которые являются профессионалами своего дела и знают все нюансы в строительстве</p>
            </li>
            <li class="trust__card">
                <svg>
                    <use href="./img/icons/icons.svg#trust-8"></use>
                </svg>
                <h4 class="trust__title">Контроль качества строительства</h4>
                <p class="trust__subtitle">За вашим объектом будет закреплен прораб, который контролирует все этапы строительства</p>
            </li>
        </ul>
    </div>
</section>